<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/prettify.css' />
    <script src='/javascripts/jquery-1.7.1.min.js'></script>
    <script src='/javascripts/prettify.js'></script>
    <style>
      .content {
        width: 960px;
        margin: 0 auto;
      }
      video {
        width: 352px;
        height: 288px;
      }
      .left {
        width: 360px;
        height: 300px;
        float: left;
      }

      .right {
        margin-left: 400px;
        width: 600px;
        overflow:auto;
      }

      .instruction {
        font-size: 0.9em;
        border: 1px dashed black;
        margin: 0.5em 0em;
        padding: 0.4em;
      }

      dt {
        font-weight: bold;
      }

      .clear {
        clear:both;
      }
    </style>

  </head>
  <body>
    <%- body %>
  </body>
  <hr>
  <footer>&copy; Kensaku Komatsu, 2012</footer>
</html>
